* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

body, h1, h2, div, p, ul, ol, hr{
    padding: 0;
    margin: 0;
    list-style: none; 
}

a {
    text-decoration: none;
}


