.header {
    padding: 16px 4px 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    gap: 12px;
}

.header__btn {
    width: 72px;
    height: 40px;
    background: #262626;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    cursor: pointer;
}

.header__btn--enter {
    background-color: #fff;
    border: 1px solid #E0E0E0;
}

.header__btn--register {
    color: #fff;
}

.btn:hover {
    background: #57AD56;
    color: #fff;
}

.header__icon {
    margin-left: 11px;
    cursor: pointer;
    display: none;
}

.header__icon path:hover {
    fill: #57AD56;
}

.welkome-section {
    background-image: url(../img/modale_wrapper.png);
    width: 100%;
    height: 256px;
    background-size: cover;
    background-repeat: no-repeat;
}

.welkome-section__content {
    position: absolute;
    padding: 24px 48px;
    background-color: #fff;
    margin: 131px 4px 55.11px 8px;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
}

.main-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #1D1D1D;
}

.content__text {
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    display: block;
    text-align: center;
    margin: 40px 0 16px 0;
}

.content__label {
    padding: 8px 16px;
    width: 97px;
    height: 32px;
    background: #262626;
    margin: 0 auto;
    border-radius: 16px;
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}