.header {
    padding: 16px 4px 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__btn {
    width: 72px;
    height: 40px;
    background: #262626;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    cursor: pointer;
}

.header__btn--enter {
    background-color: #fff;
    border: 1px solid #E0E0E0;
}

.header__btn--register {
    color: #fff;
}

.header__btn:hover {
    background-color: #57AD56;
    color: #fff;
    border: none;
}

.header__icon {
    margin-left: 11px;
    cursor: pointer;
    display: none;
}

.header__icon path:hover {
    fill: #57AD56;
}

.welkome-section {
    background-image: url(../img/modale_wrapper.png);
    width: 100%;
    height: 256px;
    background-size: cover;
    background-repeat: no-repeat;
}

.welkome-section__content {
    position: absolute;
    padding: 24px 48px;
    background-color: #fff;
    margin: 131px 4px 55.11px 8px;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
}

.main-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #1D1D1D;
}

.content__text {
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    display: block;
    text-align: center;
    margin: 40px 0 16px 0;
}

.content__label {
    padding: 8px 16px;
    width: 97px;
    height: 32px;
    background: #262626;
    margin: 0 auto;
    border-radius: 16px;
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.navigation {
    display: none;
}

.section-menu__title {
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    margin: 112px 0 12px 0;
    text-align: center;
    color: #1D1D1D;
}

.section-menu__dash {
    width: 50px;
    height: 1px;
    background: #757575;
    margin: 0 auto;
}

.section-menu-carts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin: 43px 4px 40px 8px;
    row-gap: 16px;
}

.section-menu-cart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #757575;
}

.section-menu-cart-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1D1D1D;
    margin: 0 0 41px 0;
}

.section-menu-cart-title--position {
    margin-bottom: 4px;
}

.section-menu-cart__descrition {
    margin-bottom: 16px;
    display: block;
    font-size: 13px;
    line-height: 21px;
    color: #626262;
}

.section-menu-cart__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1D;
}

.section-menu-cart-rigth {
    width: 102px;
    height: 102px;
}

.footer {
    padding: 57px 8px 40px 8px;
    background-color: #262626;
}

.footer-logo {
    height: 20px;
    width: 191px;
}

.footer-dash {
    margin: 41px 0 32px 0;
    background: #fff;
    opacity: 0.4;
}

.footer-menu-lang {
    padding: 12px 8px 12px 16px;
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    color: #fff;
    width: 173px;
    margin-bottom: 32px;
}

.footer-menu-funcs__world {
    width: 16px;
    height: 16px;
}

.footer-menu-funcs__text {
    font-size: 13px;
    line-height: 15px;
    margin: 0px 49px 0px 15px;
}

.footer-menu-funcs__options {
    width: 14px;
    height: 8px;
}

.footer-menu-funcs__hashtag {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.footer-menu-funcs__sharp {
    color: #49A144;
}


.footer-menu-funcs__icons {
    display: flex;
    column-gap: 18px;
    margin: 20px 0px 43px 0px;
}

.footer-menu-funcs__icon {
    width: 18px;
    height: 18px;
}

.footer-menu__item a {
    margin-bottom: 23px;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    display: block;
}

.footer-menu-contract {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer-menu-contract__item a {
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}