.header {
    padding: 16px 4px 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save {
    display: flex;
    gap: 12px;
}

.header__icon {
    margin-left: 11px;
    cursor: pointer;
    display: none;
}

.header__icon path:hover {
    fill: #57AD56;
}

.btn {
    width: 72px;
    height: 40px;
    background: #262626;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    cursor: pointer;
}

.btn--enter {
    background-color: #fff;
    border: 1px solid #E0E0E0;
}

.btn--register {
    color: #fff;
}

.btn:hover {
    background: #57AD56;
    color: #fff;
}


